{% set app_domain = domain | default('') %}
{% set contact_email = caddy_email | default('') %}
{% if app_domain | length > 0 %}
{% if contact_email | length > 0 %}
{
  email {{ contact_email }}
}
{% endif %}

{{ app_domain }} {
  encode zstd gzip
  reverse_proxy app:3000
}
{% else %}
:80 {
  encode zstd gzip
  reverse_proxy app:3000
}
{% endif %}